PyCaret의 model selection과 stack ensemble 기능을 사용해 모델을 구성했습니다. [ExtraTree, RandomForest, XGBoost, LGBM]

주기성을 띄는 feature에 대해서는 sin, cos을 적용했고, 범주형 feature는 target encoding을 진행했습니다.

비슷한 feature 끼리 묶어 모델 학습에 도움을 주고자 clustering을 진행했습니다.

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import Pipeline
from category_encoders import *

In [38]:
seed = 842

In [39]:
def preprocess(df, test=False):
    if test:
        df.columns = ['ID', 'Month', 'Day', 'Measurement Time', 'T (°⁣C)', 'T (K)',
    'Dew T(°C)', 'Relative Humidity (%)', 'P (mbar)', 'Saturation Vapor P(mbar)',
    'Actual Vapor P(mbar)', 'Vapor P Shortage (mbar)', 'Vapor Content (g/kg)', 'Air Density (g/m**3)',
    'Direction (deg)']
    else:
        df.columns = ['ID', 'Month', 'Day', 'Measurement Time', 'T (°⁣C)', 'T (K)',
      'Dew T(°C)', 'Relative Humidity (%)', 'P (mbar)', 'Saturation Vapor P(mbar)',
      'Actual Vapor P(mbar)', 'Vapor P Shortage (mbar)', 'Vapor Content (g/kg)', 'Air Density (g/m**3)',
      'Direction (deg)', 'Velocity (m/s)']
    
    df['Measurement Time'] = df['Measurement Time'].replace({'새벽' : 0, '오전' : 1, '오후' : 2, '저녁' : 3})
    df['Time_cos'] = df['Measurement Time'].apply(lambda x : np.cos(np.pi * x / 2))
    df['Time_sin'] = df['Measurement Time'].apply(lambda x : np.sin(np.pi * x / 2))

    df['Direction (sign)'] = ((df['Direction (deg)'] + 11.25) % 360) // 22.5
    df['Direction (sign)'] = df['Direction (sign)'].astype('int')

    df['Date'] = df['Month'].apply(lambda x : format(x, '02')) + df['Day'].apply(lambda x : format(x, '02')) # category

    df['cat_Month'] = df.Month.astype('category')
    df['cat_day'] = df['Day'].astype('category')
    df['cat_Measurement Time'] = df['Measurement Time'].astype('category')

    df['Direction_x'] = df['Direction (deg)'].apply(lambda x : np.cos(np.pi * x / 180))
    df['Direction_y'] = df['Direction (deg)'].apply(lambda x : np.sin(np.pi * x / 180))

    df['Month_cos'] = df['Month'].apply(lambda x : np.cos((x-1)/6 * np.pi))
    df['Month_sin'] = df['Month'].apply(lambda x : np.sin((x-1)/6 * np.pi))

    df = df.drop(['ID', 'T (K)', 'Vapor Content (g/kg)'], axis=1)
    return df

In [40]:
df = pd.read_csv('data/train.csv')
df_train = preprocess(df.copy())
df_train.tail(2)

,Month,Day,Measurement Time,T (°⁣C),Dew T(°C),Relative Humidity (%),P (mbar),Saturation Vapor P(mbar),Actual Vapor P(mbar),Vapor P Shortage (mbar),...,Time_sin,Direction (sign),Date,cat_Month,cat_day,cat_Measurement Time,Direction_x,Direction_y,Month_cos,Month_sin
36579,9,10,3,25.65,15.30,52.81,988.39,32.98,17.41,15.56,...,-1.0,10,0910,9,10,3,-0.702153,-0.712026,-0.5,-0.866025
36580,3,11,1,3.14,1.88,91.40,1000.01,7.66,7.00,0.66,...,1.0,1,0311,3,11,1,0.860119,0.510093,0.5,0.866025

In [41]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36581 entries, 0 to 36580
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Month                     36581 non-null  int64
 1   Day                       36581 non-null  int64
 2   Measurement Time          36581 non-null  int64
 3   T (°⁣C)                   36581 non-null  float64
 4   Dew T(°C)                 36581 non-null  float64
 5   Relative Humidity (%)     36581 non-null  float64
 6   P (mbar)                  36581 non-null  float64
 7   Saturation Vapor P(mbar)  36581 non-null  float64
 8   Actual Vapor P(mbar)      36581 non-null  float64
 9   Vapor P Shortage (mbar)   36581 non-null  float64
 10  Air Density (g/m**3)      36581 non-null  float64
 11  Direction (deg)           36581 non-null  float64
 12  Velocity (m/s)            36581 non-null  float64
 13  Time_cos                  36581 non-null  float64
 14  Time_sin                  36581 non-null  float64
 15  Direction (sign)          36581 non-null  int32
 16  Date                      36581 non-null  object
 17  cat_Month                 36581 non-null  category
 18  cat_day                   36581 non-null  category
 19  cat_Measurement Time      36581 non-null  category
 20  Direction_x               36581 non-null  float64
 21  Direction_y               36581 non-null  float64
 22  Month_cos                 36581 non-null  float64
 23  Month_sin                 36581 non-null  float64
dtypes: category(3), float64(16), int32(1), int64(3), object(1)
memory usage: 5.8+ MB

Clustring

In [42]:
from pycaret import clustering
from sklearn.preprocessing import StandardScaler

# cluster setting

num_cluster = 3
clustering_features = ['Month_cos', 'Month_sin', 'T (°\u2063C)', 'P (mbar)', 
                       'Actual Vapor P(mbar)', 'Direction_x', 'Direction_y']

cluster = clustering.setup(data=df_train, ignore_features=[i for i in df_train.columns if i not in clustering_features],
                           session_id = seed, use_gpu=True, normalize=True)
kmeans = clustering.create_model('kmeans', num_clusters= num_cluster)

In [43]:
df_train['Cluster'] = clustering.predict_model(model=kmeans, data=df_train.astype(np.float32))['Cluster']
df_train['Cluster'] = df_train['Cluster'].apply(lambda x : int(x[-1]))

for i in range(num_cluster):
    df_train[f'Cluster Distance {i}'] = kmeans.transform(cluster.train_transformed)[:, i]

df_train.tail(2)

,Month,Day,Measurement Time,T (°⁣C),Dew T(°C),Relative Humidity (%),P (mbar),Saturation Vapor P(mbar),Actual Vapor P(mbar),Vapor P Shortage (mbar),...,cat_day,cat_Measurement Time,Direction_x,Direction_y,Month_cos,Month_sin,Cluster,Cluster Distance 0,Cluster Distance 1,Cluster Distance 2
36579,9,10,3,25.65,15.30,52.81,988.39,32.98,17.41,15.56,...,10,3,-0.702153,-0.712026,-0.5,-0.866025,0,2.056279,4.296998,4.377728
36580,3,11,1,3.14,1.88,91.40,1000.01,7.66,7.00,0.66,...,11,1,0.860119,0.510093,0.5,0.866025,1,3.981288,2.712475,3.057602

In [44]:
from pycaret.regression import *
import category_encoders

reg = setup(data=df_train, target='Velocity (m/s)', ignore_features=['Direction_x', 'Direction_y'],
            use_gpu=True, session_id=seed, max_encoding_ohe=1, 
            encoding_method=category_encoders.TargetEncoder(smoothing=10))

In [45]:
reg.pipeline

Pipeline(memory=FastMemory(location=C:\Users\JHY\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['Month', 'Day', 'Measurement Time',
                                             'T (°\u2063C)', 'Dew T(°C)',
                                             'Relative Humidity (%)',
                                             'P (mbar)',
                                             'Saturation Vapor P(mbar)',
                                             'Actual Vapor P(mbar)',
                                             'Vapor P Shortage (mbar)',
                                             'Air Density (g/m**3)',
                                             'Direction (deg)', 'Time_cos',
                                             'Time_sin',...
                 TransformerWrapper(include=['Date', 'cat_Month', 'cat_day',
                                             'cat_Measurement Time'],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('rest_encoding',
                 TransformerWrapper(include=['Date', 'cat_Month', 'cat_day',
                                             'cat_Measurement Time'],
                                    transformer=TargetEncoder(cols=['Date',
                                                                    'cat_Month',
                                                                    'cat_day',
                                                                    'cat_Measurement '
                                                                    'Time']))),
                ('clean_column_names',
                 TransformerWrapper(transformer=CleanColumnNames()))])

In [46]:
best = compare_models(n_select=4)

Initiated  . . . . . . . . . . . . . . . . . .           12:22:36
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

In [47]:
best[2] = tune_model(best[2], optimize='MAE', n_iter=100)
best[3] = tune_model(best[3], optimize='MAE', n_iter=100)

Fitting 10 folds for each of 100 candidates, totalling 1000 fits

Fitting 10 folds for each of 100 candidates, totalling 1000 fits

d:\project\wind_speed\wind_speed\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:


60 fits failed out of a total of 1000.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
60 fits failed with the following error:
Traceback (most recent call last):
  File "d:\project\wind_speed\wind_speed\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\project\wind_speed\wind_speed\lib\site-packages\pycaret\internal\pipeline.py", line 260, in fit
    fitted_estimator = self._memory_fit(
  File "d:\project\wind_speed\wind_speed\lib\site-packages\joblib\memory.py", line 655, in __call__
    return self._cached_call(args, kwargs)[0]
  File "d:\project\wind_speed\wind_speed\lib\site-packages\pycaret\internal\memory.py", line 398, in _cached_call
    out, metadata = self.call(*args, **kwargs)
  File "d:\project\wind_speed\wind_speed\lib\site-packages\pycaret\internal\memory.py", line 309, in call
    output = self.func(*args, **kwargs)
  File "d:\project\wind_speed\wind_speed\lib\site-packages\pycaret\internal\pipeline.py", line 66, in _fit_one
    transformer.fit(*args, **fit_params)
  File "d:\project\wind_speed\wind_speed\lib\site-packages\catboost\core.py", line 5734, in fit
    return self._fit(X, y, cat_features, text_features, embedding_features, None, sample_weight, None, None, None, None, baseline,
  File "d:\project\wind_speed\wind_speed\lib\site-packages\catboost\core.py", line 2341, in _fit
    train_params = self._prepare_train_params(
  File "d:\project\wind_speed\wind_speed\lib\site-packages\catboost\core.py", line 2268, in _prepare_train_params
    _check_train_params(params)
  File "_catboost.pyx", line 6084, in _catboost._check_train_params
  File "_catboost.pyx", line 6103, in _catboost._check_train_params
_catboost.CatBoostError: C:/Go_Agent/pipelines/BuildMaster/catboost.git/catboost/private/libs/options/boosting_options.cpp:79: Learning rate should be non-zero


d:\project\wind_speed\wind_speed\lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning:

One or more of the test scores are non-finite: [-0.76056142 -0.74489209 -0.53708798 -1.15592782 -0.65783693 -0.98338324
 -0.53527845 -0.80905752 -1.04894553 -0.50740067 -1.14629079 -0.52375103
 -0.56175993 -0.74808261 -1.16108019 -1.12488162         nan -1.15180512
 -0.76947156 -0.66609006 -0.48464211 -0.91710491 -0.80199384 -0.6177336
 -0.83124078 -0.59734658 -1.12722011 -1.07305788 -0.57926991 -0.59333319
         nan -1.16101591 -1.10298291 -0.65476095 -1.16109682 -0.60971117
 -0.68689203 -0.68541787         nan -1.1571037  -1.14142136 -1.16107228
 -1.15099313 -0.53295679 -0.88850444 -0.74287628 -0.72734628 -1.07988454
 -0.96324029 -1.10910976 -1.1610689  -0.87744577 -0.46556514 -1.05641023
 -1.16095636 -1.02041635 -1.1610954  -1.16100979         nan         nan
 -1.10409522 -1.11350286 -0.74399509 -0.8876759  -1.16105232 -1.15902182
 -0.54248452 -0.75977576 -1.10016695 -0.61188231 -1.12266209 -1.14447313
 -0.80047379 -0.57933416 -1.10787768 -1.1610739  -0.59429714 -0.79094867
 -1.16105051 -0.71130937 -0.67800512 -1.15760776 -0.62630841 -0.50832546
 -0.63905874 -1.09723474 -0.51510616 -0.67822107 -1.16103131 -1.13848868
         nan -0.71732707 -0.54366055 -0.69916106 -0.83724151 -1.15214527
 -0.62166068 -0.80476775 -1.10682515 -0.58642425]

In [48]:
stack_lr = stack_models(best, optimize='MAE', choose_better=True)

In [49]:
stack_finalized = finalize_model(stack_lr)

In [54]:
df_test = preprocess(pd.read_csv('data/test.csv'), True)

df_test['Cluster'] = clustering.predict_model(model=kmeans, data=df_test.astype(np.float32))['Cluster']
df_test['Cluster'] = df_test['Cluster'].apply(lambda x : int(x[-1]))

for i in range(num_cluster):
    df_test[f'Cluster Distance {i}'] = kmeans.transform(cluster.get_config('pipeline').transform(df_test[clustering_features]))[:, i]

df_test

,Month,Day,Measurement Time,T (°⁣C),Dew T(°C),Relative Humidity (%),P (mbar),Saturation Vapor P(mbar),Actual Vapor P(mbar),Vapor P Shortage (mbar),...,cat_day,cat_Measurement Time,Direction_x,Direction_y,Month_cos,Month_sin,Cluster,Cluster Distance 0,Cluster Distance 1,Cluster Distance 2
0,3,24,0,4.28,-0.21,72.5,984.48,8.30,6.02,2.28,...,24,0,-0.312335,-0.949972,5.000000e-01,0.866025,2,3.676719,2.789189,1.130520
1,9,24,3,13.40,10.36,81.8,996.98,15.40,12.59,2.80,...,24,3,-0.699663,-0.714473,-5.000000e-01,-0.866025,0,1.962391,2.683555,3.430493
2,5,28,3,19.89,14.95,73.2,984.83,23.26,17.03,6.23,...,28,3,0.983603,0.180347,-5.000000e-01,0.866025,0,2.474972,4.602650,3.988125
3,1,17,3,-2.88,-4.47,88.7,998.02,4.94,4.38,0.56,...,17,3,-0.170209,-0.985408,1.000000e+00,0.000000,1,4.546688,1.981464,2.610154
4,10,22,2,6.97,4.36,83.4,987.00,10.01,8.35,1.66,...,22,2,-0.130526,-0.991445,-1.836970e-16,-1.000000,1,2.937851,2.215346,2.666295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15673,3,16,0,1.61,-0.49,85.9,1001.26,6.86,5.89,0.97,...,16,0,0.556586,0.830790,5.000000e-01,0.866025,1,4.233205,2.741520,3.196230
15674,9,5,2,18.27,13.35,73.0,990.98,21.03,15.35,5.68,...,5,2,-0.081939,-0.996637,-5.000000e-01,-0.866025,0,1.869830,3.532801,3.834535
15675,8,8,0,16.08,12.25,78.0,994.97,18.30,14.28,4.03,...,8,0,-0.985408,-0.170209,-8.660254e-01,-0.500000,0,1.409275,3.258580,3.607442
15676,2,4,0,3.07,-0.95,74.8,994.31,7.62,5.70,1.92,...,4,0,-0.005236,-0.999986,8.660254e-01,0.500000,2,3.932658,2.155779,1.928483
15677,2,1,1,9.01,8.36,95.7,985.13,11.50,11.01,0.49,...,1,1,-0.960294,-0.278991,8.660254e-01,0.500000,2,3.004217,2.568264,1.454253

In [55]:
df_test = df_test.drop(['Direction_x', 'Direction_y'], axis=1)

In [56]:
df_submit = pd.read_csv('data/sample_submission.csv')
df_submit['풍속 (m/s)'] = stack_finalized.predict(df_test)
df_submit

               ID  풍속 (m/s)
0      TEST_00000  1.947530
1      TEST_00001  1.118981
2      TEST_00002  2.030871
3      TEST_00003  1.116085
4      TEST_00004  1.196756
...           ...       ...
15673  TEST_15673  4.784213
15674  TEST_15674  1.935273
15675  TEST_15675  1.161204
15676  TEST_15676  2.007375
15677  TEST_15677  0.761352

[15678 rows x 2 columns]

In [57]:
df_submit.to_csv('data/2nd_submission.csv', index=False)